
.allButtons {
    color: #515151;
    border-color: #adadad;
    background-color: #fff;
    border-radius:3px;
}
.allButtons:hover {
    color: #fff;
    border-color:#fff;
    background-color: darkslateblue;
    border-radius:3px;
}
